#home-main {
    display: flex;
    width: 78vw;
    height: 100vh;
    border: 1px solid red;
}

.home-inner{
    border: 1px solid black;
    width: 78vw;
    height: 100vh;
}

.home-inner > div{
    border: 1px solid black;
    width: 100px;
}

.selected {
  border: 2px solid red;
}